@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Playfair+Display:ital@1&display=swap');

.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  min-height: 100vh;
  font-family: 'Playfair Display', serif;
}

.header {
  height: 80px;
  width: 100%;
  overflow: hidden;
  }

.h1 {
  position: relative;
  color: #ffffff;  
  font-size: 1.8rem;
  padding: 60px 50px;
}

.honeymoonFundPage,
.rsvpPage,
.weddingPartyPage,
.ourStoryPage,
.travelPage,
.faqPage,
.schedulePage,
.thingsToDoPage {
  text-align: center;
  border-radius: 25px;;
  background-color: #fdfcfb;
  max-width: 1260px;
  margin: 0 auto;
  color: #c1931a85;
  min-height: 100vh;
  padding: 30px 15px;
}

.faqPage h2 {
  margin-bottom: 30px;
}

.ourStoryPage {
  padding: 30px 50px;
}

.travelPage {
  padding-top: 30px;
}

.travelPage h3 {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.ourStoryPage h2 {
  margin-bottom: 20px;
}

.pageOuter {
  padding: 0 30px;
}

.homeImage {
  height: 100vh;
}

.homeImage span {
  display: block;
  width: 100%;
  height: 100%;
}

.wedding {
  display: block;
}

.weddingSection {
  width: 100%;
  font-size: 16px;
  font-family: 'Bodoni Moda', serif;
  margin-bottom: 50px;
}

@media (min-width: 686px) {
  .wedding { 
    display: flex;
  }

  .weddingSection {
    width: 50%;
  }
}

.pageTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.weddingSectionTitle {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.weddingTime {
  margin-bottom: 30px;
}

.weddingImage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .weddingImage {
    width: 300px;
    height: 300px;
  }
}

.weddingMapsImage {
  margin: 0 auto;
  height: 320px;
  width: 400px;
}

.weddingImage img,
.weddingMapsImage img,
.ourStoryImage img {
  width: 100%;
  height: 100%;
}

.weddingImage img {
  border-radius: 300px;
}

.weddingMapsImage img {
  border-radius: 5px;
}

.weddingLink, 
.hotelLink {
  text-decoration: underline;
}

.weddingLink {
  margin-bottom: 5px;
}

.hotelLink {
  margin: 20px 0 30px;
}

.hotel {
  margin-bottom: 50px;
}

.hotelPrice {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.questionSection {
  font-size: 20px;
  margin-bottom: 20px;
}

.question {
  font-weight: bold;
}

.faqSection {
  max-width: 800px;
  margin: 0 auto;
}

.ourStoryImage {
  width: 100%;
  margin: 0 auto;
  /* height: 500px; */
}

.ourStoryImage img {
  border-radius: 5px;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
  /* padding: 1.6rem; */
  margin-bottom: 10px;
}

@media (min-width: 650px) {
  .embla {
    --slide-height: 35rem;
  }
}

@media (min-width: 1260px) {
  .embla {
    --slide-height: 37rem;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
  position: relative;
}

.embla__slide__img {
  position: relative !important;
  display: block;
  /* height: var(--slide-height) !important; */
  width: 100%;
  object-fit: cover;
}

.homepageSection {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.25rem;
}

.homepageNames {
  margin-bottom: 15px;
  font-size: 1.75rem;
}

@media (min-width: 650px) {
  .homepageNames {
    font-size: 3rem;
  }
}

.homepageText {
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .homepageText {
    font-size: 1.75rem;
  }
}

.weddingSectionButton {
  margin-bottom: 20px;
}

.weddingSectionButton button {
  background-color: #c1931a85;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border: none;
  width: 275px;
  text-align: center;
}

.schedulePage h3 {
  margin-bottom: 40px
}

.weddingDate {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  margin-bottom: 50px
}

@media (min-width: 600px) {
  .weddingDate {
    font-size: 50px;
  }
}

.weddingAddress {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.weddingMessage {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.hotel {
  width: 100%
}

.hotelSection {
  display: block;
}

@media (min-width: 1060px) {
  .hotelSection { 
    display: flex;
  flex-direction: row;
  margin-top: 50px;
  }

  .hotel {
    width: 33.33%;
  }
}

.navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 100%;
  padding: 0 20px;
}

.navLinks {
  display: none;
}

.expand {
  display: inline;
  background-color: #9d7a1f;
  height: 75vh;
  width: 300px;
  position: fixed;
  z-index: 10;
  right: 0;
  padding-top: 30px;
}
 
@media (min-width: 1000px) {
  .navLinks {
    display: flex;
    margin: 0 auto;
  }

  .navbar {
    display: flex;
  }

  .expand {
    display: none;
  }
}

.logo {
  vertical-align: middle;
  /* position: absolute; */
  margin: 0 20px;
  display: inline-block;
  width: 50px;
  height: 70px;
  background: url(../public/wedding-logo.png) no-repeat center center/cover;
}

.exitIcon {
  color: white;
  position: fixed;
  right: 0;
  padding-right: 15px;
}

.navitem {
  list-style: none;
  font-style: italic;
  font-size: 20px;
  padding: 10px 20px;
}

@media (min-width: 1000px) {
  .navitem{
    font-size: 14px;
  }
}


@media (min-width: 1260px) {
  .navitem{
    font-size: 20px;
  }
}

.navitem a {
  text-decoration: none;
  color: white;
}

.HamburgerIcon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.HamburgerMenu {
  display: fixed;
  padding-top: 20px;
  margin-left: 10px;
  z-index: 6;
  float: right;
}

.hideHamburger {
  display: none;
}

@media (min-width: 1000px) {
  .HamburgerMenu {
    display: none;
    z-index: 6;
  }

  .exitIcon {
    display: none;
  }
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
  float: right;
}

.formSection {
  display: block;
}

.dropDownForm {
  max-width: 500px;
}